[tool.poetry]
name = "continuous-eval"
version = "0.1.2"
description = "Continuous evaluation for retrieval-based LLMs pipelines."
authors = ["Yi Zhang <yi@relari.ai>", "Pasquale Antonante <pasquale@relari.ai>"]
readme = "README.md"
packages = [{include = "continuous_eval"}]

[tool.poetry.dependencies]
python = "^3.11"
python-dotenv = "^1.0.0"
nltk = "^3.8.1"
rouge = "^1.0.1"
openai = "^1.3.7"
langchain = "^0.0.345"
transformers = "^4.35.2"
torch = "^2.1.1"
tqdm = "^4.66.1"
anthropic = "^0.7.7"

[tool.poetry.group.dev.dependencies]
black = "^23.11.0"
isort = "^5.12.0"
pytest = "^7.4.3"

[tool.isort]
profile = "black"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
