/* Dark mode colors. */
:root {
	--sl-color-accent-low: #486480;
	--sl-color-accent: #F06449;
	--sl-color-accent-high: #7ccab0;
	--sl-color-white: #ffffff;
	--sl-color-gray-1: #eceef2;
	--sl-color-gray-2: #c0c2c7;
	--sl-color-gray-3: #888b96;
	--sl-color-gray-4: #545861;
	--sl-color-gray-5: #353841;
	--sl-color-gray-6: rgb(30 41 59);
	--sl-color-black: #030620;
}

/* Light mode colors. */
:root[data-theme='light'] {
	--sl-color-accent-low: #F06449;
	--sl-color-accent: #7ccab0;
	--sl-color-accent-high: #486480;
	--sl-color-white: #17181c;
	--sl-color-gray-1: #24272f;
	--sl-color-gray-2: #353841;
	--sl-color-gray-3: #545861;
	--sl-color-gray-4: #888b96;
	--sl-color-gray-5: #c0c2c7;
	--sl-color-gray-6: #eceef2;
	--sl-color-gray-7: #f5f6f8;
	--sl-color-black: #ffffff;
}

.top-level>li>details>ul>li>details>ul>li>details>summary>div>span {
  font-weight: normal;
  font-family: var(--__sl-font);
  font-size: var(--sl-text-sm);
}

.top-level>li>details>ul>li>details>summary>div>span {
  font-weight: light;
  font-family: var(--__sl-font);
  font-size: var(--sl-text-sm);
}
